
/*font icons for igloo*/
@charset "UTF-8";

@font-face {
  font-family: "igloo";
  src:url("fonts/igloo.eot");
  src:url("fonts/igloo.eot?#iefix") format("embedded-opentype"),
    url("fonts/igloo.woff") format("woff"),
    url("fonts/igloo.ttf") format("truetype"),
    url("fonts/igloo.svg#igloo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "igloo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "igloo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\61";
}
.icon-navicon-round:before {
  content: "\62";
}