/*Navigation Bar*/
.nav-container{
	padding:0 13%;
}

.navbar{
	display: flex;
}

.nav-links{
/*	display: flex;*/
}

.nav-links .menu-button{
	display: none;
}

.nav-links li{
	display: inline-block;
	font-size: 0.8em;
}
.nav-links li:first-child { 
    padding-left: 0;
}


.nav-search{
	width: 225px;
	position: absolute;
    right: 0;
}

.nav-search:before{
	line-height: 20px;
	padding: 0 5px;
}


/*Banner*/

.main-text{
	font-size: 57px;
}

.sub-text{
	font-size: 33px;
}

/*Member Items*/

.member-items-row:not(:last-child){
  margin-bottom: 35px;
}

.member-item{
	width: 20%;
	display: inline-block;
}

