/*Navigation Bar*/
.nav-container{
	padding:0 5%;
}

.navbar{
	display: flex;
	height: 100%;
}

.nav-links{
	height: 100%;
    overflow-y: hidden;
}	

.nav-links .menu-button:before{
	line-height: 30px;
}

.nav-links li{
	background-color: white;
}

.nav-search{
	width: 100%;
	max-width: 225px;
}

.nav-search:before{
	line-height: 20px;
	padding: 0 5px;
}

/*Banner*/

.main-text{
	font-size: 3em;
}

.sub-text{
	font-size: 2em;
}

/*Member Items*/

.member-item{
	width: 100%;
	margin-bottom: 25px;
}


.member-item img{
	width: 30%;
}

