@import url("igloo_font.css");

body {
    font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin: 0;
}

a{
	color:#000;
}


a, a:hover, a:focus{
	text-decoration: none;
}

p{margin: 0}

#content{
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

/*Navigation Bar*/
.navigation{
	position: fixed;
	top: 0;
    height: 60px;
	width: 100%;
	background: white;
    z-index: 1;
}

.nav-container{
	
	margin: 15px 0;
	height: 30px;
}

.navbar{
	float: none;
	margin: 0 auto;
	position: relative;
	height: 30px;
}

.nav-links{
	display: inline-block;
	position: relative;
	padding-top: 4px;
}

.nav-links .menu-button{
	position: absolute;
	left: 100px;
	top: 0;
}

.nav-links li{
	padding: 0 10px;
	list-style: none;
	height: 100%;
}

.nav-links a{
	text-transform: uppercase;
}
.nav-links a:hover{
	color:darkblue;
	text-decoration: none;
}

.nav-links a:focus{
	color:dodgerblue;
	text-decoration: none;
}


.nav-search{
	display: flex;
	
	float: right;
	position: absolute;
	right: 0;
	
	border: 1px solid black;
    border-radius: 20px;
    padding: 3px 5px;
	color:#666666;
	background-color: white;
}

.nav-search input{
	width: 100%;
	border: 0;
    margin-left: 5px;
}

.nav-search input::-webkit-input-placeholder{
	color:#666666;
}

input:focus{
    outline: none;
}

/*Banner*/

.banner{
	margin-top: 60px;
	position: relative;
	height: 310px;
	overflow-y: hidden;
	padding: 0;
}

.banner img{
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.banner-overlay{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

.banner-text{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	color: white;
	width: 100%;
}

.banner p{
	text-align: center;
}


/*Member Items*/

.members-section{
	width: 100%;
	text-align: center;
}

.members-section-title{
	margin: 35px 0;
	font-size: 41px;
}


.members-container{
	margin: 0 13%;
}

.member-items-container{
	width: 100%;
	white-space: nowrap;
}	


.member-item {
    vertical-align: top;
}

.member-item img{
/*	margin: 0 auto;*/
	margin-bottom: 15px;
	width: 60%;
}

.img-circle {
    border-radius: 50%;
}

.member-item p{
	margin: 0;
	white-space: normal;
}

.member-name{
	font-size: 20px;
	word-break: break-word;
	text-transform: capitalize
}


.member-email{
	font-size: 13px;
	word-break: break-all;
}


@keyframes fade-in {
   0% {opacity:0;}
   100% {opacity:1;}
}

.new-members-fade-in {
   -webkit-animation: fade-in 1s ease-in 1;
   animation: fade-in 1s ease-in 1;
}

button{
	background-color: #4a90e2;
	padding: 15px 28px;
	background-color: #4a90e2;
	border-radius: 3px;
	border: 0;
	color:white;
	margin: 65px 0;
	cursor: pointer;
}

footer{
/*	position: absolute;*/
/*	bottom: 0;*/
	padding-top: 20px;
	height: 170px;
    width: 100%;
	background-color: #171717;	
}

.footer-content{
	float: none;
	margin: 0 13%;
	position: relative;
	color: #cccccc;
}

.footer-content div{
	position: absolute;
	right: 0;
	top:0;
}

